* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navContainer {
  top: 0px;
  background-color: #6714AF;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
}
.navContainer img {
  height: 57px;
  width: 100px;
}
.navContainer ul {
  margin-top: 0;
  list-style: none;
  display: flex;
  justify-content: end;
}
.navContainer li a {
  color: #aeaaaa;
  text-decoration: none;
  font-size: 30px;
  margin: 20px;
}
.navContainer li a:hover {
  color: #fff;
}

.containerForm {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.containerForm h2 {
  margin-bottom: 15px;
  font-size: 55px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.containerForm p {
  font-size: 25px;
  margin-bottom: 30px;
  max-width: 400px;
  color: #fff;
  font-weight: 700;
}
.containerForm a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
}
.containerForm a .iconos {
  margin-right: 15px;
  color: #000;
}
.containerForm form .campo, .containerForm textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 17px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: opx;
}
.containerForm form textarea {
  max-width: 530px;
  max-height: 150px;
}
.containerForm .btnEnviar {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background-color: #6714AF;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0, 3 ease;
}

.title {
  margin-top: 110px;
  text-align: center;
  color: #d889ff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #6714AF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

body {
  background: linear-gradient(to right, #6714AF, #d889ff);
}

.calculadoraContainer {
  margin-bottom: 50px;
  margin-top: 50px;
  max-height: 100vh;
  display: grid;
  place-items: center;
}
.calculadoraContainer .calculadora {
  background-color: #ab10f9;
  color: #FFFFFF;
  width: 400px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.calculadoraContainer .calculadora .pantalla {
  grid-column: 1/5;
  background-color: #6714AF;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 700;
}
.calculadoraContainer .calculadora .btn {
  background-color: #ab10f9;
  color: #FFFFFF;
  border: 0;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.calculadoraContainer .calculadora .btn:hover {
  background-color: #8406c3;
}
.calculadoraContainer .calculadora #cero {
  grid-column: span 2;
}
.calculadoraContainer .calculadora #igual {
  grid-row: span 2;
  background-color: #6714AF;
}
.calculadoraContainer .calculadora #igual:hover {
  background-color: #8d10cc;
}

.subTitulo {
  text-align: center;
  font-size: 30px;
  color: #d889ff;
  text-shadow: 2px 2px 0px #6714AF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.historial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ab10f9;
  border-radius: 5%;
  width: 500px;
  margin: auto;
}

.btnHistory {
  background-color: #6714AF;
  color: #FFFFFF;
  border: 0;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.btnHistory:hover {
  background-color: #8406c3;
}

.subTitle {
  margin-left: 10px;
  font-size: 30px;
  margin-top: 40px;
  width: 50%;
  color: #d889ff;
  text-shadow: 2px 2px 0px #6714AF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

#btnTrucos {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background-color: #6714AF;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0, 3 ease;
  margin-top: 30px;
}

.trucos {
  width: 90%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: #6714AF;
}
.trucos h4 {
  color: #ddd;
}
.trucos p {
  color: #eac0ff;
}

.titles {
  margin-top: 110px;
  margin-left: 10px;
  color: #d889ff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 2px 0px #6714AF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

#btnClearTrucos {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background-color: #6714AF;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0, 3 ease;
  margin-top: 30px;
}

/*# sourceMappingURL=Style.css.map */
