@import "reset";
@import"var";
@import"mixins";
@import "navBar";
@import"form";

.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-image: url(../multimedia/Img/retroGames.jpg);
    background-position: top;
    background-size: cover;
    object-fit: cover;
    h1{
        color: #d889ff;
        font-size: 60px;
        font-weight: 700;
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    }

}
.subTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 40px;
    color: #d889ff;
    text-align: center;
    margin: 20px 0 ;
}
.textSecondary{
    font-size: 30px;
    
}
body{
    background-color: #6714AF;
}
.containerCards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .cardTitle{
    font-size: 30px;
    color: #d889ff;
  }
  
.cardImage{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

